@import '../theme/mixin';

.mca-app-bar {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1rem;
  @include mca-theme-color-var(background-color, primary);
  @include mca-theme-color-var(color, on-primary);

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }
}
