@import "./variable";

@function mca-luminance($color) {
  $red: nth($mca-theme-linear-channels, red($color) + 1);
  $green: nth($mca-theme-linear-channels, green($color) + 1);
  $blue: nth($mca-theme-linear-channels, blue($color) + 1);

  @return 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
}

@function mca-contrast($back, $front) {
  $back-luminance: mca-luminance($back) + 0.05;
  $fore-luminance: mca-luminance($front) + 0.05;

  @return max($back-luminance, $fore-luminance) / min($back-luminance, $fore-luminance);
}

@function mca-theme-tone($color) {
  $light-contrast: mca-contrast($color, #FFFFFF);
  $dark-contrast: mca-contrast($color, rgba(#000000, 0.87));

  @if ($light-contrast < 3.1) and ($light-contrast < $dark-contrast) {
    @return "light";
  } @else {
    @return "dark";
  }
}

@function mac-theme-tone-opacity($tone) {
  @if ($tone) {
    @return $mca-theme-light-tone-opacity;
  } @else {
    @return $mca-theme-dark-tone-opacity;
  }
}

@function mca-theme-color($color) {
  @if ($color == "primary") {
    @return $mca-theme-primary;
  } @else if($color == "primary-variant") {
    @return $mca-theme-primary-variant;
  } @else if($color == "secondary") {
    @return $mca-theme-secondary;
  } @else if($color == "secondary-variant") {
    @return $mca-theme-secondary-variant;
  } @else if($color == "background") {
    @return $mca-theme-background;
  } @else if($color == "surface") {
    @return $mca-theme-surface;
  } @else if($color == "error") {
    @return $mca-theme-error;
  } @else if($color == "on-primary") {
    @return $mca-theme-on-primary;
  } @else if($color == "on-secondary") {
    @return $mca-theme-on-secondary;
  } @else if($color == "on-background") {
    @return $mca-theme-on-background;
  } @else if($color == "on-surface") {
    @return $mca-theme-on-surface;
  } @else if($color == "on-error") {
    @return $mca-theme-on-error;
  } @else {
    @return $color;
  }
}
