@import '../motion/variable';
@import '../theme/mixin';
@import '../theme/function';

// @import "../elevation/mixin";
// @mixin mca-button-elevation($z: 2, $z-hover: 4, $z-active: 8) {
//   transition: box-shadow 280ms $mca-motion-standard-timing-function;
//   @include mca-elevation($z);
//   &:hover {
//     @include mca-elevation($z-hover);
//   }
//   &:active {
//     @include mca-elevation($z-active);
//   }
// }

@mixin mca-button-state($color) {
  $theme-tone-opacity: mac-theme-tone-opacity(mca-theme-tone(mca-theme-color($color)));
  &::after {
    transition: opacity 150ms $mca-motion-standard-timing-function;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: map-get($theme-tone-opacity, enabled);
    @include mca-theme-color-var(background-color, $color);
  }
  &:hover::after {
    opacity: map-get($theme-tone-opacity, hover);
  }
  &:focus::after {
    opacity: map-get($theme-tone-opacity, focus);
  }
  &:active::after {
    opacity: map-get($theme-tone-opacity, pressed);
  }
}
