@import '../motion/variable';
@import '../theme/mixin';
@import '../theme/function';

@mixin mca-button-state($color) {
  $theme-tone-opacity: mca-theme-tone-opacity(mca-theme-tone(mca-theme-color($color)));

  &::after {
    position: absolute;
    top: 0;
    left: -$mca-button-border-width;
    width: calc(100% + #{$mca-button-border-width * 2});
    height: 100%;
    opacity: map-get($theme-tone-opacity, enabled);
    @include mca-theme-color-var(background-color, $color);
  }

  &:disabled {
    opacity: map-get($theme-tone-opacity, disabled);
  }
  
  &:enabled {
    &::after {
      content: '';
      will-change: opacity;
      transition: opacity $mca-motion-simple-animation-duration $mca-motion-standard-timing-function;
    }
    &:hover::after {
      opacity: map-get($theme-tone-opacity, hover);
    }
    &:focus::after {
      opacity: map-get($theme-tone-opacity, focus);
    }
    &:active::after {
      opacity: map-get($theme-tone-opacity, pressed);
    }
  }
}
