$mca-button-height: 2.25rem !default;
$mca-button-min-width: 4rem !default;
$mca-button-border-width: 1px !default;
$mca-button-border-radius: .25rem !default;

$mca-button--contained-vertical-padding: 1rem !default;
$mca-button--outlined-vertical-padding: 1rem !default;
$mca-button--text-vertical-padding: .5rem !default;
$mca-button--toggle-size: 3rem !default;

$mca-button__icon-outer-margin: -0.1875rem !default;
$mca-button__icon-inner-margin: .4375rem !default;

$mca-button__label-font-size: .875rem !default;
