$mca-button-height: 36px !default;
$mca-button-min-width: 64px !default;
$mca-button-vertical-padding: 8px !default;
$mca-button-border-width: 1px !default;
$mca-button-border-radius: 4px !default;

$mca-button--toggle-size: 48px !default;

$mca-button--fab-size: 56px !default;
$mca-button--fab--dense-size: 40px !default;
$mca-button--fab--extend-size: 48px !default;
$mca-button--fab--extend__label-vertical-margin: 12px !default;

$mca-button__icon-spacing: 4px !default;

$mca-button__label-vertical-margin: 8px !default;
$mca-button__label-font-size: 0.875rem !default;
