@import './variable';

.mca-typography {
  color: $mca-typography-color;
  font-family: $mca-typography-font-family;

  &--header1 {
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: -.09375rem;
  }

  &--header2 {
    font-weight: 300;
    font-size: 3.75rem;
    letter-spacing: -.03125rem;
  }

  &--header3 {
    font-weight: 400;
    font-size: 3rem;
  }

  &--header4 {
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: .015625rem;
  }

  &--header5 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0;
  }

  &--header6 {
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: .009375rem;
  }

  &--subtitle1 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .009375rem;
  }

  &--subtitle2 {
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: .00625rem;
  }

  &--body1 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .03125rem;
  }

  &--body2 {
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .015625rem;
  }

  &--button {
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: .078125rem;
  }

  &--caption {
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .025rem;
  }

  &--overline {
    font-weight: 400;
    font-size: .625rem;
    letter-spacing: .09375rem;
  }
}
