$mca-text-field__input-height: 3.5rem !default;
$mca-text-field__input-font-size: 1rem !default;
$mca-text-field__input-border-width: 1px !default;
$mca-text-field__input-border-radius: .25rem !default;
$mca-text-field__input-vertical-padding: .875rem !default;
