$mca-text-field__input-color: #202020;
$mca-text-field__input-border-width: 2px;
$mca-text-field__input-border-color: #8e8e8e;
$mca-text-field__input-height: 3.5rem !default;
$mca-text-field__input-font-size: 1rem !default;
$mca-text-field__input-border-radius: .25rem !default;
$mca-text-field__input-vertical-padding: .875rem !default;
$mca-text-field__input-placeholder-color: #666666 !default;

$mca-text-field--filled__input-background-color: #f5f5f5 !default;
