@import './variable';
@import './mixin';

.mca-text-field {
  position: relative;
  overflow: hidden;

  &__input {
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
    height: $mca-text-field__input-height;
    font-size: $mca-text-field__input-font-size;
    padding: 0 $mca-text-field__input-vertical-padding;
    border: 0 solid $mca-text-field__input-border-color;
    @include mca-text-field-state(primary);
    @include mca-theme-color-var(caret-color, primary);

    &::placeholder {
      @include mca-theme-color-var(color, $mca-text-field__input-placeholder-color);
    }

    &--filled {
      background-color: $mca-text-field--filled__input-background-color;
      border-radius: $mca-text-field__input-border-radius $mca-text-field__input-border-radius 0 0;
      border-bottom-width: $mca-text-field__input-border-width;
    }
  
    &--outlined {
      background: none;
      border-radius: $mca-text-field__input-border-radius;
      border-width: $mca-text-field__input-border-width;
    }
  }
}
