@import './variable';
@import './mixin';

.mca-text-field {
  position: relative;
  overflow: hidden;

  &--filled > .mca-text-field__input {
    border-radius: $mca-text-field__input-border-radius $mca-text-field__input-border-radius 0 0;
    background-color: $mca-text-field--filled__input-background-color;
    border-bottom-width: $mca-text-field__input-border-width;
  }

  &--outlined > .mca-text-field__input {
    border-radius: $mca-text-field__input-border-radius;
    background-color: none;
    border-width: $mca-text-field__input-border-width;
  }

  &__input {
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
    height: $mca-text-field__input-height;
    font-size: $mca-text-field__input-font-size;
    padding: 0 $mca-text-field__input-vertical-padding;
    border: 0 solid $mca-text-field__input-border-color;
    @include mca-text-field-state($mca-text-field--filled__input-background-color);
  }
}
