@import '../theme/variable';

$mca-data-table-border-width: 1px;
$mca-data-table-border-radius: .25rem;
$mca-data-table-border-color: rgba($mca-theme-on-surface, .12);

$mca-data-table__head__row__column-color: rgba($mca-theme-on-surface, .87);
$mca-data-table__head__row__column-height: 3.5rem;
$mca-data-table__head__row__column-font-size: .875rem;
$mca-data-table__head__row__column-vertical-padding: 1rem;
$mca-data-table__head__row__column-horizontal-padding: .5rem;

$mca-data-table__body__row__column-color: rgba($mca-theme-on-surface, .87);
$mca-data-table__body__row__column-height: 3.25rem;
$mca-data-table__body__row__column-font-size: .875rem;
$mca-data-table__body__row__column-vertical-padding: 1rem;
$mca-data-table__body__row__column-horizontal-padding: .375rem;