@import './variable';
@import '../theme/mixin';

.mca-data-table {
  border-spacing: 0;
  border-radius: $mca-data-table-border-radius;
  border: $mca-data-table-border-width solid $mca-data-table-border-color;
  @include mca-theme-color-var(background-color, surface);

  &__head__row__column {
    height: $mca-data-table__head__row__column-height;
    color: $mca-data-table__head__row__column-color;
    padding: $mca-data-table__head__row__column-horizontal-padding $mca-data-table__head__row__column-vertical-padding;
    font-size: $mca-data-table__head__row__column-font-size;
    font-weight: 500;
  }
  
  &__body__row__column {
    height: $mca-data-table__body__row__column-height;
    color: $mca-data-table__body__row__column-color;
    padding: $mca-data-table__body__row__column-horizontal-padding $mca-data-table__head__row__column-vertical-padding;
    font-size: $mca-data-table__body__row__column-font-size;
    border-top: $mca-data-table-border-width solid $mca-data-table-border-color;
  }
}
