@import "./variable";

.mca-icon {
  display: inline-block;
  vertical-align: middle;
  width: $mca-icon-size;
  height: $mca-icon-size;
  font-size: $mca-icon-size;

  &--dense {
    width: $mca-icon-size--dense;
    height: $mca-icon-size--dense;
    font-size: $mca-icon-size--dense;
  }
}
