$mca-motion-standard-timing-function: cubic-bezier(.4, 0, .2, 1);
$mca-motion-decelerate-timing-function: cubic-bezier(0, 0, .2, 1);
$mca-motion-accelerate-timing-function: cubic-bezier(.4, 0, 1, 1);

$mca-motion-simple-animation-duration: 100ms;
