@import './variable';
@import '../theme/mixin';
@import '../theme/function';
@import '../motion/variable';

@mixin mca-selection-control-state($color) {
  $disabled-opacity: map-get(mca-theme-color-opacity($color), disabled);

  &:enabled {
    + .mca-selection-control__checkbox,
    + .mca-selection-control__radio {
      cursor: pointer;
    }
    + .mca-selection-control__checkbox,
    + .mca-selection-control__radio::before {
      will-change: border-color,background-color;
      transition: all $mca-motion-simple-animation-duration $mca-motion-standard-timing-function;
    }
  }

  &:disabled {
    + .mca-selection-control__checkbox,
    + .mca-selection-control__radio {
      opacity: $disabled-opacity;
    }
  }

  &:enabled:hover, &:enabled:focus, &:checked {
    + .mca-selection-control__checkbox,
    + .mca-selection-control__radio {
      @include mca-theme-color-var(border-color, $color);
    }
  }

  &:checked {
    + .mca-selection-control__checkbox,
    + .mca-selection-control__radio::before {
      @include mca-theme-color-var(background-color, $color);
    }
  }
}
