@import './variable';
@import './mixin';
@import '../theme/variable';

.mca-selection-control {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    
    cursor: pointer;
    &:checked {
      + .mca-selection-control__checkbox {
        border-color: black;
        background-color: black;
      }
      + .mca-selection-control__radio {
        border-color: black;
        background-color: black;
      }
    }
  }

  &__checkbox,
  &__radio {
    width: 20px;
    height: 20px;
    border: 2px solid rgba($mca-theme-on-surface, .54);
  }

  &__checkbox {
    border-radius: 2px;
  }

  &__radio {
    border-radius: 10px;
  }
}
