@import '../theme/mixin';

.mca-list {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  @include mca-theme-color-var(background-color, surface);

  &__item {
    color: rgba($mca-theme-on-surface, .87);
  }
}
